<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <ConfiguracionKit   xdt:Transform="RemoveAll" />
  <ConfiguracionKit   xdt:Transform="Insert">
    <IntegradorPorDefecto Usuario="mvpNUXmQfK8="  RfcEmisor="AAA010101AAA" />
    <IntegradorConContraseña Usuario="hA6vNTHRAng=" Contraseña="hA6vNTHRAng=" RfcEmisor="AAA010101AAA" />
  </ConfiguracionKit>
  <system.serviceModel xdt:Transform="RemoveAll" />
  <system.serviceModel xdt:Transform="Insert" >
    <bindings>
      <basicHttpBinding>
        <binding name="Valida LCOSoap">
          <security mode="Transport" />
        </binding>
        <binding name="Valida LCOSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://cfdi33-pruebas.buzoncfdi.mx:1443/ValidaLco.asmx"
                binding="basicHttpBinding" bindingConfiguration="Valida LCOSoap"
                contract="Cliente.ValidaLCOSoap" name="Valida LCOSoap" />
    </client>
  </system.serviceModel>
</configuration>