<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <ConfiguracionKit xdt:Transform="RemoveAll" />
  <ConfiguracionKit xdt:Transform="Insert">
    <!-- Es necesario  tener un usuario integrador y un emisor registrado para poder usar el ambiente productivo.-->
    <IntegradorPorDefecto Usuario="AGREGAR_INTEGRADOR" Contraseña="" RfcEmisor="" />
    <IntegradorConContraseña Usuario="AGREGAR_INTEGRADOR_CON_CONTRASEÑA" Contraseña="" RfcEmisor="" />
  </ConfiguracionKit>
  <system.serviceModel xdt:Transform="RemoveAll" />
  <system.serviceModel xdt:Transform="Insert" >
    <bindings>
      <basicHttpBinding>
        <binding name="Valida LCOSoap">
          <security mode="Transport" />
        </binding>
        <binding name="Valida LCOSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://timbracfdi33.mx/ValidaLco.asmx"
                binding="basicHttpBinding" bindingConfiguration="Valida LCOSoap"
                contract="Cliente.ValidaLCOSoap" name="Valida LCOSoap" />
    </client>
  </system.serviceModel>
</configuration>